* {
  margin: 0px;
  padding: 0px;
}

body {
  background: rgb(112, 112, 224);
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  width: 400px;
  margin: 0 auto;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.171);
}

#res {
  font-size: 1rem;
  border: 2px solid gray;
  border-radius: 5px;
  width: 150px;
  height: 175px;
  margin-top: 1rem;
  padding: 5px;
  overflow: hidden;
}

.button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
  cursor: pointer;
  background: white;
  color: #988b7a;
  border: 3px solid #988b7a;
  box-shadow: 5px 5px #988b7aaf;
}

input {
  width: 50px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
